{% extends 'layout.html' %}

{% block title %}Department{% endblock%}

{% block with_partition_name %}Department list{% endblock %}

{% block with_description %}
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Date of create</th>
    <th align="left">Last Update</th>
{% endblock %}

{% block content %}
    {% for i in content %}
        <tr>
          <td>{{ i.title }}</td>
          <td>{{ i.description }}</td>
          <td>{{ i.time_create|slice:"0:10" }}</td>
          <td>{{ i.time_update|slice:"0:10" }}</td>
        </tr>
    {% endfor %}
{% endblock %}