<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
</head>
<body>
<p> You are not logged in. Login or register </p>
    <form id='registration' action="{% url 'registration' %}" method="get">
        <button type="submit" form="registration"> Registration </button>
    </form>
    <form id='authorization' action="{% url 'authorization' %}" method="get">
        <button type="submit" form="authorization"> Authorization </button>
    </form>
</body>
</html>